<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" 
     xmlns:Json="http://schemas.hegsie.com/wix/JsonExtension"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <Package Name="TestJsonConfigInstaller" Language="1033" Version="1.0.0.0" Manufacturer="Testing" UpgradeCode="de23c83e-41e6-413d-9bde-1510e10bb2a2" ProductCode="{C9A3F6AF-7F4F-473F-BFFC-6143EB1AA0D4}">

    <Media Id="1" Cabinet="cab1.cab" EmbedCab="yes" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <Feature Id="ProductFeature" Title="TestJsonConfigInstaller" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Package>

  <Fragment>
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="TestJsonConfigInstaller" />
    </StandardDirectory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="ProductComponent" Guid="{51CDDB12-E903-436C-9371-2E4E93D3B109}">
        <File Id="JsonConfig" Name="appsettings.json" Source="appsettings.json" />

        <Json:JsonFile Id="appSettingsSetBooks" File="[#JsonConfig]" ElementPath="$.store.book" Value="[MY_BOOKS]" Action="replaceJsonValue" />

        <Json:JsonFile Id="appSettingsDeletePrices" File="[#JsonConfig]" ElementPath="$..book[\[]*[\]].OldPrice" Action="deleteValue" />

        <Json:JsonFile Id="appSettingsUpdatePrice" File="[#JsonConfig]" ElementPath="$.store.book[\[]?(@.isbn == '0-553-21311-3')[\]].price" Value="1.67" Action="setValue" />
        <Json:JsonFile Id="appSettingsUpdateCategory" File="[#JsonConfig]" ElementPath="$.store.book[\[]?(@.isbn == '0-553-21311-3')[\]].category" Value="[MY_VALUE]" Action="setValue" />

        <Json:JsonFile Id="log_file" File="[#JsonConfig]" ElementPath="$.Serilog.WriteTo[\[]0[\]].Args.configure[\[]0[\]].Args.path" Value="[LOG_DIRECTORY]PowerCommunications\\OutgoingCommunicationDispatcher\\CommunicationService.Outgoing-.log"/>

        <Json:JsonFile Id="non_existing_setting"
               File="[#JsonConfig]"
               ElementPath="/NonExisting"
               Value="Value Not Set" 
               Action="createJsonPointerValue"/>
        
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
